<root>
    <account>
        <access_key>sss</access_key>
        <secret_key>8sss</secret_key>
    </account>
    <params>
        <!--<exchange>Huobi</exchange>-->
        <!--<category>BTC</category>-->
        <period>30min</period>
        <ema_fast>7</ema_fast>
        <ema_slow>30</ema_slow>
        <one_time_open>0</one_time_open>
        <!--<multi_times_open>30</multi_times_open>-->
        <stop_earning_offset>100</stop_earning_offset>
        <!--<stop_loss_offset>100</stop_loss_offset>-->
        <level_rate>10</level_rate>
        <max_open_number>3</max_open_number>
    </params>
</root>